/*VARIABLES*/
:root {
    --red: #b50300;
    --black: #000;
}

/*COOKIES*/

#footer-index {
    margin-top: -90px;
}

#barraaceptacion {
    display: none;
    position: fixed !important;
    left: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    padding-bottom: 20px !important;
    width: 100% !important;
    text-align: center !important;
    min-height: 40px !important;
    background-color: rgb(252, 254, 255) !important;
    color: var(--black);
    z-index: 99999;
}

#barraaceptacion > p {
    text-align: center !important;
}

.inner {

    position: absolute;
    padding-left: 5px;
    font-family: verdana;
    font-size: 11px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid var(--black);
    padding: 7px 37px 7px 17px;

}

.ok {
    font-weight: bold;
    color: var(--red);
    text-decoration: none;
}

.ok:hover {
    color: var(--red);
}

@media all and (max-width: 470px) and (min-width: 365px) {
    #barraaceptacion {
        top: 33em;
    }
}

@media all and (max-width: 315px) {
    #barraaceptacion {
        top: 22em;
    }
}

@media (max-width: 732px) {
    #barraaceptacion {
        display: none !important;
    }
}

@media all and (max-width: 470px) and (min-width: 365px) {
    #barraaceptacion {
        top: 28em;
    }
}

/*BODY*/
body {
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    color: var(--black) !important;
    background-color: #ab8e7c !important;
}

/*ARROW GO TOP*/
div.c-layout-go2top > i.icon-arrow-up {
    color: var(--red);
}

/*MODALS*/
.modal-content {
    overflow: auto;
}

/*HEADER*/
header {
    background: #ab8e7c !important;
    opacity: 0.7 !important;

}

.c-btn-red {
    border-color: var(--black) !important;
    background: transparent !important;
    color: var(--black) !important;
}

.c-btn-border-2x-header:hover {
    border-color: var(--red) !important;
    background: transparent !important;
    color: white !important;
}

/*TEXT*/
.red-bold {
    color: var(--red);
    font-weight: bold;
}

.cursive-sub-red {
    color: var(--red);
    border-bottom: 1px solid var(--red);
}

h1.red-bold {
    font-size: 48px;
    font-family: 'Molle', cursive;
    margin-bottom: 1em;
}

a:link, a:hover, a:active, a:before, a:after, a:visited{
    color: var(--red);
}

h2.red-bold {
    font-size: 40px;
    font-family: 'Molle', cursive;
    margin-bottom: 1em;
}

/*TABLE*/

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid #ddd;

}

tr:nth-child(even) {
    background-color: #8a6d60;
}

tr {
    background-color: #705351;
}

hr{
    border-color: #66464f;
}

th {
    background-color: #66464f;
    color: white;
}

/*.smalltext {*/
/*padding-top: 5px;*/
/*font-size: 16px;*/
/*}*/
/*.c-btn-border-2x-info {*/
/*background: white !important;*/
/*}*/

/*.c-btn-border-2x-info:hover {*/
/*background: black !important;*/
/*}*/

/*section {*/
/*margin-bottom: 2em;*/
/*}*/

/*button > a:hover {*/
/*color: currentColor;*/
/*}*/
/*.teacher-art {*/
/*height: 450px;*/
/*}*/

/*.gallery-top {*/
/*width: 313px !important;*/
/*height: 417px !important;*/
/*}*/

/*li.goto {*/
/*position: fixed !important;*/
/*top: 10px !important;*/
/*left: 0px !important;*/
/*}*/
/*li.goto > a:hover {*/
/*color: #12a59a !important;*/
/*background-color: transparent !important;*/
/*}*/

/*li.goto > a {*/
/*color: #12a59a;*/
/*font-weight: bold;*/
/*font-size: 23px;*/
/*}*/

/*.advantages {*/
/*color: #12a59a;*/
/*}*/

/*.advantages-icon {*/
/*margin-right: 0.3em;*/
/*}*/

/*img.c-overlay-object {*/
/*width: 100% !important;*/
/*height: 100% !important;*/
/*}*/
/*.c-content-overlay {*/
/*width: 273px !important;*/
/*height: 217px !important;*/
/*}*/

/*.catena-content {*/
/*margin-top: 1em !important;*/
/*width: 300px !important;*/
/*}*/
/*.c-bg-white, .c-content-feature-2 {*/
/*opacity: 0.7 !important;*/
/*}*/

/*.c-content-feature-2 {*/
/*color: rgb(134, 134, 134) !important;*/
/*}*/

/*.strong {*/
/*color: black !important;*/
/*}*/

/*.icon-arrow-up {*/
/*color: black !important;*/
/*}*/

/*img {*/
/*opacity: 1 !important;*/
/*}*/

/*.teacher-head {*/
/*margin-left: 1em !important;*/
/*margin-right: 1em !important;*/
/*}*/

/*.teacher-content {*/
/*margin-left: 15% !important;*/
/*margin-right: 15% !important;*/
/*}*/

/*.teacher-item {*/
/*margin-left: 1.9em !important;*/
/*margin-right: 1.9em !important;*/
/*}*/

/*.formacion {*/
/*text-align: left;*/
/*}*/